<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<div class="container">
  <div class="card" id="category-form">
    <div class="card-header">
      <h2>Nova categoria</h2>
    </div>
    <div class="card-body">
      <form action="/categories/create" method="post">
        <input
          type="text"
          class="form-control"
          name="category"
          placeholder="Digite a categoria aqui"
          required
        />
        <br />
        <button type="submit" class="btn btn-outline-success">Cadastrar</button>
        <a href="/admin/categories" class="btn btn-outline-danger">Cancelar</a>
      </form>
    </div>
  </div>
</div>
<%- include('../../partials/footer.ejs') %>
