<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080">
    <a href="#" class="navbar-brand" style="margin-left: 50px"><img src="/favicon.png" alt="logo" style="width: 40px;"> Tech News</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
    </ul>
  </nav>
  