<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand" style="margin-left: 100px">Tech News</a>
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a href="/admin/categories" class="nav-link">Categorias</a>
    </li>
  </ul>
</nav>
