<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<div
  class="container"
  style="display: flex; justify-content: center; align-items: center"
>
  <div class="card mt-4" style="display: block; width: 30rem">
    <div class="card-header text-center">
      <h2>Criar usuário</h2>
    </div>
    <div class="card-body">
      <form action="/users/create" method="post">
        <div class="mb-3">
          <label class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="email@email.com"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="********"
            required
          />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-secondary btn-block">
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../../partials/footer.ejs') %>
