<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<div class="container">
  <br />
  <div class="row">
    <div class="col-sm-8"><h2>Notícias</h2></div>
    <div class="col-sm-4 text-end">
      <a href="/admin/news/new" class="btn btn-outline-primary"
        >Nova notícia</a
      >
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Categoria</th>
        <th style="text-align: center">Slug</th>
        <th style="text-align: center">Ações</th>
      </tr>
    </thead>
  </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
  function confirmDeletion(event, form) {
    event.preventDefault();
    const option = confirm("Você deseja deletar esta notícia?");

    if (option) {
      form.submit();
    }
  }
</script>
